<template>
    <header>
        <section class="hero is-medium is-primary is-bold">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-mobile is-vcentered">
                        <div class="column is-12-mobile is-6-tablet is-6-desktop has-text-centered">
                            <figure class="image is-128x128 is-inline-block">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </div>
                        <div class="column is-hidden-mobile is-6-tablet is-6-desktop">
                            <h1 class="title">Steven Avelino</h1>
                            <h2 class="subtitle">Web Software Developer</h2>
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-12-mobile is-hidden-tablet has-text-centered">
                            <h1 class="title">Steven Avelino</h1>
                            <h2 class="subtitle">Web Software Developer</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
</template>

<script>
export default {
    name: 'header-component'
}
</script>
