<template>
  <div class="app">
    <header-view></header-view>
    <router-view class="has-background-grey-dark"/>
  </div>
</template>

<script>
import HeaderView from './components/Header'

export default {
  name: 'app',
  components: { HeaderView }
}
</script>

<style lang="scss">
  @import 'assets/scss/theme.scss';

  html, body {
    background-color: hsl(0, 0%, 29%);
    color: white;
  }
</style>
